{block content}
<h1 n:block="title">{$authorDetail->jmeno} {$authorDetail->prijmeni}</h1>

<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">
                world of reading
            </h2>

        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->


<!-- Single -->
<div class="innerf-pages section">
    <div class="container">
        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider1">
                    <ul class="slides">
                        <li data-thumb="images/s1.jpg">
                            <div class="thumb-image">
                                <img src="/img/autori/{$authorDetail->obrazek}" data-imagezoom="true" alt=" "
                                     class="img-responsive"></div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3>{$authorDetail->jmeno} {$authorDetail->prijmeni}
            </h3>
            <div class="caption">
                <div class="clearfix"></div>
            </div>
            <div class="desc_single">
                <h5>O autorovi</h5>
                <p>{$authorDetail->o_autorovi}</p>
            </div>

        </div>
        <div class="clearfix"></div>

        <div class="container">
            <div class="caption">
                <div class="clearfix"></div>
            </div>
            <div class="desc_single">
                <h5>Myšlenka</h5>
                <p style="text-align: center">{$authorDetail->myslenka}</p>
            </div>

        </div>


        <div class="container">
            <div class="new_arrivals">
                <h4 class="rad-txt">
                    <span class="abtxt1">Všechny knihy</span>
                </h4>
                <!-- row3 -->


                <div class="clearfix"></div>
            </div>
            <!--//new_arrivals-->
            <div class="clearfix"></div>

            <button type="button" class="btn btn btn-sm btn-primary">Upravit profil autora</button>
        </div>


    </div>
</div>

<div class="clearfix"></div>


<!--// Single -->

