{block content}
    <h1 n:block="title">{$bookDetail->nazev}</h1>



    <!-- banner -->
    <div class="banner-bg-inner">
        <!-- banner-text -->
        <div class="banner-text-inner">
            <div class="container">
                <h2 class="title-inner">
                    world of reading
                </h2>

            </div>
        </div>
        <!-- //banner-text -->
    </div>
    <!-- //banner -->

    <!-- breadcrumbs -->
    <div class="crumbs text-right">
        <div class="container">
            <div class="row">
                <ul class="btn-group btn-breadcrumb bc-list">
                    <li class="btn btn1">
                        <a n:href="Homepage:">
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>
                    <li class="btn btn2">
                        <a n:href="Books:list">Books</a>
                    </li>
                    <li class="btn btn3">
                        <a n:href="Books:detail">{$bookDetail->nazev}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--//breadcrumbs ends here-->

    <!-- Single -->
    <div class="innerf-pages section">
        <div class="container">
            <div class="col-md-4 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider1">
                        <ul class="slides">
                            <li data-thumb="images/s1.jpg">
                                <div class="thumb-image">
                                    <img style="height: 265px" src="/img/showcase/{$bookDetail->obrazek}"
                                         data-imagezoom="true" alt=" " class="img-responsive"></div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-8 single-right-left simpleCart_shelfItem">
                <h3>{$bookDetail->nazev}</h3>
                <p><a n:href="Authors:detail">{$bookDetail->autor->jmeno} {$bookDetail->autor->prijmeni}</a></p>
                <div class="caption">
                    <ul class="rating-single">
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="desc_single">
                    <h5>Popis</h5>
                    <p>{$bookDetail->popis}</p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 single-right-left ">
                <div class="occasional">
                    <h5>Poslední známá poloha</h5>
                    <ul class="single_specific">
                        <li><span>Přibližná adresa:</span> Afi, Pardubice</li>
                        <li><span>Status:</span> půjčená</li>
                        <li><span>Kategorie:</span> Humor</li>
                        <li><span>Nejčastěji ve městě:</span> Přelouč (2x)</li>
                    </ul>
                </div>

                <div class="clearfix"></div>

                <div class="desc_single">
                    <h4 class="rad-txt">
                        <span class="abtext">Komentáře</span> <!-- class="abtxt1" -->
                    </h4>
                    <!--control commentForm -->

                </div>

                {if $user->loggedIn}
                    <button type="button" class="btn btn btn-sm btn-primary">Půjčit</button>

                    <div class="desc_single">
                        <h4 class="rad-txt">
                            <span class="abtext">Mapa</span> <!-- class="abtxt1" -->
                        </h4>
                    </div>
                    <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1UBz_bgTrZ3H_3Wuz8WgUxeEwbQ3nzJTV"
                            width="1200"
                            height="480">
                    </iframe>

                {/if}

                <div class="desc_single">
                    <h4 class="rad-txt">
                        <!--<span class="abtxt1">Sign in</span>-->
                        <span class="abtext">Související</span> <!-- class="abtxt1" -->
                    </h4>
                </div>

            </div>

            <div class="clearfix"></div>


        </div>


    </div>

    <!-- /new_arrivals -->

    <!--// Single -->

{/block}