{block content}
<h1 n:block="title">Knihy</h1>

<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">
                world of reading
            </h2>

        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->
<!-- breadcrumbs
<div class="crumbs text-center">
    <div class="container">
        <div class="row">
            <ul class="btn-group btn-breadcrumb bc-list">
                <li class="btn btn1">
                    <a n:href="Homepage:">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li class="btn btn2">
                    <a n:href="Books:list">Books</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--//breadcrumbs ends here-->

<!-- Shop -->
<div class="innerf-pages section">
    <div class="container-cart">
        <!-- product left -->
        <div class="side-bar col-md-3">
            <!--preference -->
            <div class="left-side">
                <h3 class="shopf-sear-headits-sear-head">{_ books.category}</h3>
                <ul n:foreach="$categoriesList as $category" >
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">{$category->nazev}</span>
                    </li>
                </ul>
            </div>
            <!-- // preference -->

            <div class="search-hotel">
                <h3 class="shopf-sear-headits-sear-head">
                    <span>{_ books.findAuthor}</span></h3>
                <form action="#" method="post">
                    <input type="search" placeholder="{_ books.authorName}" name="search" required="">
                    <input type="submit" value="{_ books.search}">
                </form>
            </div>

            <!-- languages -->
            <div class="left-side">
                <h3 class="shopf-sear-headits-sear-head">{_ books.language}</h3>
                <ul>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Czech</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">English</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">German</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Spanish</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Russian</span>
                    </li>
                </ul>
            </div>
            <!-- //languages -->

            <!-- reviews -->
            <div class="customer-rev left-side">
                <h3 class="shopf-sear-headits-sear-head">{_ books.customerReview}</h3>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span>5.0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span>4.0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span>3.5</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span>3.0</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span>2.5</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //reviews -->
        </div>
        <!-- //product left -->
        <!-- product right -->
        <div class="left-ads-display col-md-9">
            <div class="wrapper_top_shop">
                <!-- product-sec1 -->
                <div class="product-sec1">

                    <!-- row1-->
                    <div n:foreach="$booksInfo as $booksList" class="col-md-3 product-men">
                        <div class="product-chr-info chr">
                            <div class="thumbnail">
                                <a n:href="Books:detail $booksList->id">
                                    <img style="height: 265px" src="/img/showcase/{$booksList->obrazek}" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>{$booksList->nazev|truncate:18}</h4>
                                <p>{$booksList->autor->jmeno} {$booksList->autor->prijmeni}</p>
                                <div class="matrlf-mid">
                                    <ul class="rating">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
                <div style="align-items: center" class="pagination">
                    {if !$paginator->isFirst()}
                        <a n:href="Books:list, 1">{_ books.first}</a>
                        &nbsp;|&nbsp;
                        <a n:href="Books:list, $paginator->page-1">{_ books.previous}</a>
                        &nbsp;|&nbsp;
                    {/if}

                    Stránka {$paginator->page} z {$paginator->pageCount}

                    {if !$paginator->isLast()}
                        &nbsp;|&nbsp;
                        <a n:href="Books:list, $paginator->page+1">{_ books.next}</a>
                        &nbsp;|&nbsp;
                        <a n:href="Books:list, $paginator->pageCount">{_ books.last}</a>
                    {/if}
                </div>


                <!-- //product-sec1 -->
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<!--// Shop -->