{block content}
<h1 n:block="title">Vrátit knihu</h1>

<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">

            </h2>

        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->


<!-- Single -->
<div class="innerf-pages section">
    <div class="container">
        <h4 class="rad-txt">
            <span class="abtxt1">Vrátit knihu</span>
            <!--<span class="abtext">deník</span> -->
        </h4>
        <div class="col-md-4 single-right-left ">
            {control returnBookForm}

        </div>
    </div>
</div>
<!--// Single -->

