{block content}
<h1>Knihy</h1>

<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">
                world of reading
            </h2>
        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="crumbs text-center">
    <div class="container">
        <div class="row">
            <ul class="btn-group btn-breadcrumb bc-list">
                <li class="btn btn1">
                    <a n:href="Homepage:">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li class="btn btn2">
                    <a n:href="Authors:list">Autoři</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--//breadcrumbs ends here-->

<!-- Shop -->
<div class="innerf-pages section">
    <div class="container-cart">
        <!-- product left -->
        <div class="side-bar col-md-2">
            <!--preference -->
            <div class="left-side">
                <h3 class="shopf-sear-headits-sear-head">
                    Filtrovat podle</h3>
                <ul>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Online</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">Offline</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked">
                        <span class="span">všichni</span>
                    </li>

                </ul>
            </div>
            <!-- // preference -->

            <!-- price range -->


        </div>
        <!-- //product left -->
        <!-- product right -->
        <div class="left-ads-display col-md-10">
            <div class="wrapper_top_shop">
                <!-- product-sec1 -->
                <div class="product-sec1">
                    <!-- row1-->
                    <div class=" product-men">
                        <div n:inner-foreach="$usersList as $userProfile" class="product-chr-info chr">
                            <!--<div class="thumbnail">
                               <a n:href="Users:profile">
                                  <img src="/images/lib8.jpg" alt="">
                                </a>
                            </div>
                            -->
                            <div class="col-md-4 caption">
                                <h4><a href="#"> </a>{$userProfile->jmeno} {$userProfile->prijmeni} </h4>
                                <div class="matrlf-mid">
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--<div class="col-md-3 product-men">
                       <div class="product-chr-info chr">
                           <div class="thumbnail">
                               <a href="single_product.html">
                                   <img src="/images/lib7.jpg" alt="">
                               </a>
                           </div>
                           <div class="caption">
                               <h4>marketing</h4>
                               <div class="matrlf-mid">
                                   <div class="clearfix"></div>
                               </div>
                           </div>
                       </div>
                   </div>
                    -->


                    <!-- //row1 -->
                    <div class="clearfix"></div>
                </div>
                <!-- //product-sec1 -->
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<!--// Shop -->