{block content}
<h1 n:block="title">Můj profil</h1>

<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">
                world of reading
            </h2>

        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->

<!-- breadcrumbs -->
<div class="crumbs text-center">
    <div class="container">
        <div class="row">
            <ul class="btn-group btn-breadcrumb bc-list">
                <li class="btn btn1">
                    <a n:href="Homepage:">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li class="btn btn2">
                    <a n:href="Users:profile">Můj profil</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--//breadcrumbs ends here-->

<!-- Single -->
<div class="innerf-pages section">
    <div class="container">
        <div class="col-md-4 single-right-left ">
            <div class="grid images_3_of_2">
                <div class="flexslider1">
                    <ul class="slides">
                        <li data-thumb="images/s1.jpg">
                            <div class="thumb-image">
                                <img src="/images/avatar_male.png" data-imagezoom="true" alt=" " class="img-responsive">
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3>{$userProfile->jmeno} {$userProfile->prijmeni}
            </h3>
            <div class="caption">
                <div class="clearfix"></div>
            </div>

            <div class="desc_single">
                <ul class="single_specific">
                    <li>
                        <span><i class="fa fa-fw fa-birthday-cake"></i>narozeniny:</span> {$userProfile->narozeniny->format("d.m.Y")}
                    </li>
                    <li><span><i class="fas fa-venus-mars"></i>pohlavi:</span> {$userProfile->pohlavi}</li>
                    <li><span><i class="fa fa-fw fa-at"></i>email:</span> {$userProfile->email}</li>
                    <li><span><i class="fa fa-fw fa-map-marker"></i>město:</span> {$userProfile->mesto}</li>
                    <li><span><i class="fa fa-fw fa-comment"></i>počet komentářů:</span> {$userProfile->mesto}</li>
                    <li>
                        <span><i class="fa fa-fw fa-calculator"></i>registrace od:</span> {$userProfile->created->format("d.m.Y")}
                    </li>
                </ul>
            </div>
            <a n:href="Books:return" >
                <button type="button" class="btn btn btn-sm btn-primary">Chci vrátit knihu</button>
            </a>
            <button type="button" class="btn btn btn-sm btn-primary">Upravit profil</button>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- /new_arrivals -->
<div class="section singlep_btm">
    <div class="container">
        <div class="new_arrivals">
            <h4 class="rad-txt">
                <span class="abtext">Půjčené knihy</span>
            </h4>
            <!-- row3 -->
            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                        <a href="single_product.html">
                            <img src="/images/lib7.jpg" alt="">
                        </a>
                    </div>
                    <div class="caption">
                        <h4>Nazev knihy</h4>
                        <div class="matrlf-mid">
                            <ul class="rating">
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix"></div>
        </div>
        <!--//new_arrivals-->

    </div>
</div>
<div class="section singlep_btm">
    <div class="container">
        <div class="new_arrivals">
            <h4 class="rad-txt">
                <span class="abtxt1">Historie</span>
            </h4>
            <!-- row3 -->


            <div class="clearfix"></div>
        </div>
        <!--//new_arrivals-->
        <div class="clearfix"></div>

    </div>
</div>
<!--// Single -->


