{block content}
<h1 n:block=title>Sign in</h1>

<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">
                world of reading
            </h2>

        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->

<div class="login-form section text-center">
    <div class="container">
        <div class=" col-md-4">
            <h4 class="rad-txt">
                <!--<span class="abtxt1">Sign in</span>-->
                <span class="abtext">Přihlášení</span> <!-- Sign up -->
            </h4>

            {control signInForm}

            <div class="col-xs-offset-2 ">
                <a href="#">Zapomněli jste heslo?</a><br>
                Jste tu poprvé? <a n:href="Registration:register">Zaregistrujte se.</a> <br>
            </div>
        </div>
        <div class="col-md-8">
            <img src="/images/our_banner.jpg" alt="">
        </div>
    </div>
</div>


<!-- signin and signup form -->
<div class="login-form section text-center">
    <div class="container">

    </div>
</div>
<!-- //signin and signup form -->