{block content}
<h1 n:block="title">Čtenářský deník</h1>

<!-- banner -->
<div class="banner-bg-inner">
    <!-- banner-text -->
    <div class="banner-text-inner">
        <div class="container">
            <h2 class="title-inner">
                world of reading
            </h2>
        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->

<!-- /new_arrivals -->
<div class="section singlep_btm">
    <div class="container">
        <div class="new_arrivals">
            <h4 class="rad-txt">
                <span class="abtxt1">Čtenářský deník</span>
                <!--<span class="abtext">deník</span> -->
            </h4>
            <span>Ulož si své dojmy a pocity z přečtené knihy. Vše uvidíš jen ty. </span><br><br>

            <!-- formular -->
            <div class="row">
                <div class="col-md-5">
                    {control diaryForm}
                </div>
                <div class="col-md-2">
                    vvvvvv
                </div>
                <div class="col-md-5">
                    hijihoi

                </div>
            </div>
        </div>
        <!--//new_arrivals-->
    </div>
</div>


<!--// Single -->


