{block content}
<h1 n:block="title">Podmínky používání</h1>

<html>
<body>

<div class="innerf-pages section">
    <div class="container">
        <div class="col-md-8 single-right-left simpleCart_shelfItem">
            <div class="caption">
                <div class="clearfix"></div>
            </div>

            <div class="desc_single">
                <ul class="single_specific">
                    <li>
                        <i class="fa fa-fw fa-book"></i>
                        Kniha, kterou jste si půjčili, není vaším majetkem. Je nutné ji vrátit.
                    </li>
                    <li>
                        <i class="fa fa-fw fa-book"></i>
                        Nevytrhávejte z knihy listy, nedělejte si do ní poznámky nebo jinak nesnižujte její hodnotu.
                    </li>
                    <li>
                        <i class="fa fa-fw fa-book"></i>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-book"></i>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-book"></i>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-book"></i>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-book"></i>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-book"></i>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-book"></i>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-book"></i>
                    </li>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>


</body>

</html>