{block navig}
    <li n:if="$user->loggedIn"><a n:href="Post:create">Write new post</a></li>
{/block}

{block content}
    <h1 n:block="title">Homepage</h1>

    <!-- banner -->
    <div class="banner-bg-agileits">
        <!-- banner-text -->
        <div class="banner-text">
            <div class="container">
                <h2 class="title">
                    Bookland
                </h2>
                <ul class="banner-txt">
                    <li>{_ homepage.borrow}</li>
                    <li>{_ homepage.read}</li>
                    <li>{_ homepage.return}</li>
                </ul>
            </div>
        </div>
        <!-- //banner-text -->
    </div>
    <!-- //banner -->



    <!-- about bottom -->
    <div class="about-bottom section">
        <div class="container-fluid">
            <h4 class="rad-txt">
                <span class="abtxt1">{_ homepage.category}</span>
                <!--<span class="abtext"></span>-->
            </h4>
            <!-- about-bottom grid1 -->
            <div class="col-md-9 about-bottom-right">
                <div n:foreach="$categoriesList as $category" class="col-md-4 col-sm-4 col-xs-4 services-w3ls">
                    <div class="ab1">
                        <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                            <h5>{$category->nazev}</h5>
                            <p></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <!-- //about-bottom grid1 ends here -->
            <div class="col-md-3 home-about2">
                <!-- about-bottom grid2 -->
                <!-- //about-bottom grid2 ends here -->
                <!-- about-bottom grid3 -->
                <div class="col-md-12 col-sm-12 col-xs-12 w3ls-section  stats">
                    <div class="stats-aboutinfo services-main">
                        <div class="agileits_w3layouts-stats-grids text-center">
                            <div class="stats-icon">
                                <span class="fa fa-book" aria-hidden="true"></span>
                            </div>
                            <div class="stats-right">
                                <div n:if="$countOfBooks" class='numscroller numscroller-big-bottom'
                                                          data-slno='1' data-min='0'
                                                          data-delay='1.5' data-increment="30">{$countOfBooks}
                                    {dump $categoriesList}
                                </div>
                                <h6>{_ homepage.amoutOfBooks}</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="agileits_w3layouts-stats-grids text-center">
                            <div class="stats-icon">
                                <span class="fa fa-users" aria-hidden="true"></span>
                            </div>
                            <div class="stats-right">
                                <div n:if="$countOfUsers" class='numscroller numscroller-big-bottom'
                                                          data-slno='1' data-min='0'
                                                          data-delay='.5' data-increment="20">{$countOfUsers}
                                </div>
                                <h6>{_ homepage.amoutOfUsers}</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="agileits_w3layouts-stats-grids text-center">
                            <div class="stats-icon">
                                <span class="fa fa-university" aria-hidden="true"></span>
                            </div>
                            <div class="stats-right text-right">
                                <div n:if="$countOfCategories" class='numscroller numscroller-big-bottom'
                                                               data-slno='1' data-min='0'
                                                               data-delay='.5' data-increment="20">{$countOfCategories}
                                </div>
                                <h6>{_ homepage.amoutOfCategories}</h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //about-bottom grid3 ends here -->
            <!-- //Numscroller -->
            <div class="clearfix"></div>
        </div>
        <!-- //about container ends here-->
    </div>
    <!--//about bottom ends here-->

    <div class="about-bottom section">
        <div class="container-fluid">
            <h4 class="rad-txt">
                <span class="abtxt1">{_ homepage.books} {_ homepage.inYourRegion}</span>
                <span class="abtext"></span>
            </h4>

            {_ homepage.withoutLocality}
        </div>
    </div>








{/block}
