<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang={_lang}>

<head>
    <title>{ifset title}{include title|stripHtml} | {/ifset}Bookland</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="knihy, cestování, fantasy, dobrodružství, sdílení, books, traveling, share, "/>

    <!-- Custom Theme files -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="/css/shop.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="/toastr.css" rel="stylesheet"/>
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i"
          rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div id="home">
    <!-- header -->
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="main-nav">
            <div class="container">

                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Bookland</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" n:href="Homepage:">Bookland
                            <!--<img style="height: 50px" src="/images/logo2.png"/> -->
                        </a>
                    </h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
                    <ul class="nav navbar-nav navbar-left cl-effect-15">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a class="page-scroll" href="#page-top"></a>
                        </li>
                        <li><a n:href="Books:list">{_ menu.books}</a></li>
                        <!--<li><a n:href="Authors:list">{_ menu.authors}</a></li>-->

                        {if $user->loggedIn}
                            <li><a n:href="Diary:userDiary $user->getId()">{_ menu.diary}</a></li>
                            <li><a n:href="Users:profile $user->getId()">{_ menu.myProfile}</a></li>
                            <li><a n:href="Homepage:logOut">{_ menu.logOut}</a></li>
                        {/if}
                        {if $user->isAllowed('layout:menu','View')}
                            <li><a n:href="Users:list">{_ menu.users}</a></li>
                            <!--<li><a n:href="Categories:list">{_ menu.categories}</a></li>-->
                        {/if}
                        {if !$user->loggedIn}
                            <li><a n:href="Sign:in"><span class="fa fa-user nav-icon" aria-hidden="true"></span></a>
                            </li>
                        {/if}

                    </ul>
                    <!-- search-bar -->
                    <div class="search-bar-agileits">
                        <div class="cd-main-header">
                            <ul class="cd-header-buttons">
                                <li>
                                    <a class="cd-search-trigger" href="#cd-search">
                                        <span></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="cd-search" class="cd-search">
                            <form action="#" method="post">
                                <input name="Search" type="search" placeholder="{_ menu.search}">
                            </form>
                        </div>
                    </div>
                    <!-- //search-bar ends here -->
                </div>
                <!-- /.navbar-collapse -->
                <div class="clearfix"></div>
            </div>
            <!-- /.container -->
        </div>
    </nav>
    <!-- //navbar ends here -->

    {include content}

    <!-- footer -->
    <div class="footer-bottom section">
        <div class="container">
            {if $user->loggedIn}
                <!-- newsletter -->
                <div class="subscribe-main section-w3layouts text-center">
                    <h4 class="rad-txt">
                        <span class="abtxt1"></span>
                        <span class="abtext">Newsletter</span>
                    </h4>
                    <div class="subscribe-form">
                        <form action="#" method="post" class="subscribe_form">
                            <div class="email-news">
                                <input type="email" placeholder="Email" required="">
                            </div>
                            <div class="sub-news">
                                <input type="submit" value="{_ menu.subscribe}">
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                    <p>We respect your privacy.No spam ever!</p>
                </div>
                <!-- //newsletter ends here -->
            {/if}
            <!-- footer grids-->
            <div class="footer-cpy">
                <!-- footer-grid1 -->
                <div class="col-md-5 col-sm-6 footer-logo">
                    <h3>
                        <a n:href="Homepage:">Bookland</a>
                    </h3>
                    <h4>{_ menu.aboutUs}</h4>
                    <p>{_ menu.aboutUsDescribtion}</p>
                    <p> Registrací souhlasíte s <a n:href="Registration:usingConditions">pravidly</a>.</p>
                    <p class="footer">This is a <a href="http://doc.nette.org/quickstart">Nette Framework Quick
                            Start</a>.</p>
                </div>
                <!-- //footer-grid1 -->
                <!-- footer-grid2 -->

                <!-- //footer-grid2 -->
                <!-- footer-grid3 -->
                <div class="col-md-4 col-sm-6 blog-footer">
                    <h4>{_ menu.lastBooks}</h4>
                    <div n:inner-foreach="$lastBooks as $book" class="blog1">
                        <div class="col-md-3 col-sm-3 col-xs-2 bl1">
                            <a href="#">
                                <img src="/images/b1.jpg" alt="" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-10 bl2">
                            <a href="#">{$book->nazev}</a>
                            <p>February 15, 2018</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                </div>
                <!-- //footer-grid3 -->
                <!-- footer-grid4 -->
                <div class="col-md-3 col-sm-6 contact-foot text-right">
                    <h4>{_ menu.contact}</h4>
                    <ul>
                        <li>
                            <span class="fa fa-home"></span>
                            nám. Legií, Pardubice
                        </li>

                        <li>
                            <span class="fa fa-envelope"></span>
                            <a href="mailto:info@bookland.com">info@bookland.com</a>
                        </li>
                    </ul>
                </div>
                <!-- //footer-grid4 -->
                <div class="clearfix"></div>
            </div>
            <!-- //footer-grids -->
            <!-- footer social -->
            <div class="footer-social text-center">
                <h4>stay connected</h4>
                <ul>
                    <li><a href="#"><span class="fa fa-facebook iconv4_facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter iconv4_twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-vk iconv4_facebook"></span></a></li>
                    <li><a href="#"><span class="fa fa-google-plus iconv4_g_plus"></span></a></li>
                </ul>

                <div class="eu-cookies" n:if="empty($_COOKIE[eu-cookies])">
                    Tento web používá k poskytování služeb, personalizaci reklam a analýze
                    návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.
                    <button>V pořádku</button>
                    <a href="https://www.google.com/policies/technologies/cookies/">Další informace</a>
                </div>
                <noscript>
                    <style>.eu-cookies {
                            display: none
                        }</style>
                </noscript>


            </div>
            <!-- //footer social -->
        </div>
        <!-- //footer container -->
    </div>
    <!-- //footer -->

    <div class="cpy-right">
        <p>© 2018 Chronicle. All rights reserved | Design by
            <a href="http://w3layouts.com"> W3layouts.</a>
        </p>
    </div>
</div>
<!-- //home -->
<!-- js -->
<script src="/js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!--search jQuery-->
<script src="/js/main.js"></script>
<!--search jQuery-->
<!-- cart-js -->
<script src="/js/minicart.js"></script>
<script>
    chr.render();

    chr.cart.on('new_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) {
            }
        }
    });
</script>
<!-- //cart-js -->
<!-- Scrolling Nav JavaScript -->
<script src="/js/scrolling-nav.js"></script>
<!-- //fixed-scroll-nav-js -->
<!-- start-smooth-scrolling -->
<script src="/js/move-top.js"></script>
<script src="/js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- dropdown nav -->
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //dropdown nav -->
<!-- smooth-scrolling-of-move-up -->
<script>
    $(document).ready(function () {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- Cookies -->
<script>
    $('.eu-cookies button').click(function () {
        var date = new Date();
        date.setFullYear(date.getFullYear() + 10);
        document.cookie = 'eu-cookies=1; path=/; expires=' + date.toGMTString();
        $('.eu-cookies').hide();
    });
</script>
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<!-- Smartsupp Live Chat script
<script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '803a9d33ff6a5a45fa9ddcb7cfa192ceeb3db3d7';
    window.smartsupp||(function(d) {
        var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
        s=d.getElementsByTagName('script')[0];c=d.createElement('script');
        c.type='text/javascript';c.charset='utf-8';c.async=true;
        c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
</script>
-->

<script src="/js/SmoothScroll.min.js"></script>
<!-- //smooth-scrolling-of-move-up -->
<!-- about bottom grid Numscroller -->
<script src="/js/numscroller-1.0.js"></script>
<!-- //about bottom grid Numscroller -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/bootstrap.js"></script>

{block scripts}
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
{/block}

<!--GoogleSearch
https://cse.google.com/cse/create/getcode?cx=010370445054180648007%3Ans-siwkaehe
-->
<script>
    (function () {
        var cx = '010370445054180648007:ns-siwkaehe';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<gcse:search></gcse:search>
<!--Google Search-->
</body>
</html>
