/*--Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
 --*/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    margin: 0;
    color: #777;
    font-size: 1em;
    line-height: 1.6;
}

ul,
label {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

/*-- banner --*/

.banner-bg {
    background: url(../images/2.jpg) no-repeat right 80px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/*-- header --*/

h1 a.navbar-brand {
    font-size: 1.2em;
    letter-spacing: 0.5px;
    color: #fff !important;
    padding: 14px 0 0;
    position: relative;
    text-transform: capitalize;
    font-family: 'Fredericka the Great', cursive;
}

.footer-logo h3 a {
    font-size: 1.2em;
    letter-spacing: 0.5px;
    color: #fff !important;
    padding: 0 0 20px;
    display: inline-block;
    position: relative;
    text-transform: capitalize;
    font-family: 'Fredericka the Great', cursive;
}

/*-- cart-button --*/

button.top_chr_cart {
    border: none;
    text-align: center;
    background: none;
    /* width: 36px; */
    /* height: 36px; */
    outline: none;
}

i.fa.fa-cart-arrow-down {
    width: 41px;
    height: 41px;
    color: #fff;
    font-size: 2em;
    line-height: 42px;
}

span.nav-icon {
    color: #fff;
    font-size: 2em;
    line-height: 16px;
}

/*-- cart-css --*/

/*-- search --*/

.search-bar-agileits {
    float: left;
}

.cd-main-header {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.cd-main-header {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-main-content.nav-is-visible,
.cd-main-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}

.nav-on-left .cd-main-content.nav-is-visible,
.nav-on-left .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
}

.cd-header-buttons {
    display: inline-block;
}

.cd-header-buttons li {
    display: inline-block;
}

.cd-search-trigger,
.cd-nav-trigger {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    z-index: 3;
    background: transparent;
}

.cd-search-trigger::before,
.cd-search-trigger::after {
    /* search icon */
    content: '';
    position: absolute;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-search-trigger::before {
    top: 13px;
    left: 11px;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #fff;
}

.cd-search-trigger::after {
    /* handle */
    height: 3px;
    width: 12px;
    background: #fff;
    bottom: 14px;
    right: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-search-trigger span {
    /* container for the X icon */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.cd-search-trigger span::before,
.cd-search-trigger span::after {
    /* close icon */
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -11px;
    background: #fff;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.cd-search-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-search-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cd-search-trigger.search-is-visible::before,
.cd-search-trigger.search-is-visible::after {
    /* hide search icon */
    -moz-opacity: 0;
    opacity: 0;
}

.cd-search-trigger.search-is-visible span::before,
.cd-search-trigger.search-is-visible span::after {
    /* show close icon */
    -moz-opacity: 1;
    opacity: 1;
}

.cd-search-trigger.search-is-visible span::before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-search-trigger.search-is-visible span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-search {
    position: absolute;
    width: 100%;
    top: 5.5em;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-search input {
    border-radius: 0;
    border: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 0 5%;
    -webkit-box-shadow: inset 0 3px 0 #f7c052, 0 3px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 3px 0 #db3552, 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 3px 0 #f7c052, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    font-size: 1em;
    padding: 1em 2em;
    color: #fff;
    letter-spacing: 1px;
}

.cd-search input::-webkit-input-placeholder {
    color: #fff;
}

.cd-search input::-moz-placeholder {
    color: #fff;
}

.cd-search input:-moz-placeholder {
    color: #fff;
}

.cd-search input:-ms-input-placeholder {
    color: #fff;
}

.cd-search input:focus {
    outline: none;
}

.cd-search.is-visible {
    -moz-opacity: 1;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cart-mainf {
    float: right;
}

/*-- //search --*/

.nav-btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius: 1px;
}

.nav-right {
    float: right;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
}

.navbar {
    margin-bottom: 0;
}

nav.navbar.navbar-default.navbar-fixed-top {
    background: #34c663;
    border: none;
    padding: 1em 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    padding: 0;
}

.navbar-nav > li {
    margin: 0 0.5em 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    text-shadow: none;
    padding: 15px 17px;
}

.navbar-nav > li.active a {
    color: #000;
}

/* Effect 15: scale down, reveal */

.navbar-right li span.fa.fa-home {
    font-size: 2em;
}

li.first-nav {
    margin-top: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000;
}

.navbar-right {
    margin-top: 1em;
}

.navbar-nav > li.active a.page-scroll {
    color: #fff;
}

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    background: #34c663;
}

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse h1 a.navbar-brand {
    font-size: 1em;
    padding: 14px 0 0;
}

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse .cd-search {
    top: 45px;
}

/*-- //header --*/

h5.sec-title {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 3em;
    color: #000;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.dropdown-menu {
    border-radius: 0px;
    min-width: 150px;
    padding: 0;
}

.dropdown-menu {
    background: #34c663;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: transparent;
}

.dropdown-menu li a {
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}

.dropdown-menu {
    min-width: 150px;
    padding: 0;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #e01414;
    outline: 0;
}

ul.dropdown-menu.sub-menu {
    min-width: 130px;
    top: 77px;
    left: 148px;
    -webkit-animation: fadeinleft 600ms ease-in-out;
    -moz-animation: fadeinleft 600ms ease-in-out;
    -o-animation: fadeinleft 600ms ease-in-out;
    -ms-animation: fadeinleft 600ms ease-in-out;
    animation: fadeinleft 600ms ease-in-out;
}

ul.dropdown-menu:hover a.s-menu {
    background: #357f2a;
    color: #fff;
}

.dropdown-menu.columns-2 {
    min-width: 400px;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
}

/*-- banner-text --*/

.banner-bg-agileits {
    background: url(../images/banner.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 794px;
}

.banner-bg-inner {
    background: url(../images/banner.jpg) no-repeat 0 -197px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 430px;
}

.banner-text {
    text-align: center;
    padding: 22em 0 0;
}

.banner-text-inner {
    text-align: center;
    padding: 15em 0 0;
}

.banner-text p {
    position: relative;
    color: #fff;
    font-size: 3em;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.banner-text p:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 16.3%;
    display: inline-block;
    height: 5px;
    top: 46px;
    left: 31%;
}

.banner-text p:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 14%;
    display: inline-block;
    height: 5px;
    top: 41px;
    right: 34.1%;
}

/* //banner */

.section {
    padding: 5em 0;
}

/*-- counter timer --*/

/*--timer--*/

#counter {
    height: 160px;
    font-size: 35px;
    margin: 20px 20px 20px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.62);
}

.timer {
    border-top: 2px ridge #5F5F5F;
    border-bottom: 2px ridge #5F5F5F;
}

.timer h4 {
    font-size: 14px;
    color: #E5E5E5;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 20px;
}

.countDays,
.countHours,
.countMinutes,
.countSeconds {
    float: left;
    padding: 47px 0;
    width: 20.5%;
    background: rgba(4, 31, 167, 0.1);
    border: 1px solid rgba(193, 175, 78, 0.28);
    background: transparent;
    border: none;
    border-left: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

/*.countDays, .countHours, .countMinutes, .countSeconds {
  border: 1px solid #fff;
    box-sizing: border-box;
	border-right: transparent;
}*/

/*.countSeconds:last-child {
     border-right: 1px solid #fff;	
}*/

.timer_wrap {
    width: 64%;
    margin: 0 auto;
    box-sizing: border-box;
}

.points {
    float: left;
    width: 40px;
    margin: 0;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    line-height: 138px;
    text-shadow: none;
    color: #FFF;
}

.boxName {
    font-size: 14px;
    color: #e01414;
    font-weight: bold;
    text-transform: uppercase;
    clear: both;
    display: block;
    padding: 10px 0;
}

/*--//timer--*/

/* about */

.about-text {
    margin: 5em 0 0;
    padding: 0;
}

h2.title {
    color: #ffffff;
    font-size: 6.5em;
    letter-spacing: 7px;
    border-width: 1px 0;
    line-height: 1.5;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #000;
    font-weight: 800;
}

h2.title-inner {
    color: #ffffff;
    font-size: 4em;
    letter-spacing: 4px;
    border-width: 1px 0;
    line-height: 1.5;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #000;
    font-weight: 800;
}

ul.banner-txt li {
    display: inline-block;
    list-style-type: none;
    color: #000;
    padding: 5px 18px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

ul.banner-txt li:first-child {
    background: #e85342;
    border-radius: 10px;
}

ul.banner-txt li:nth-child(2) {
    background: #f7c052;
    border-radius: 10px;
    margin: 0 1em;
}

ul.banner-txt li:nth-child(3) {
    background: #34c663;
    border-radius: 10px;
}

.about-left-grid h3 {
    font-size: 3em;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 1.2;
    color: #333;
}

.about-left-grid {
    padding-left: 0;
}

h4.title {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin: 1em 0 0.5em;
    font-weight: 600;
    color: #292929;
    text-transform: capitalize;
    width: 90%;
    line-height: 1.3;
    letter-spacing: 0.5px;
}

h3.main-title {
    color: #ad1a0a;
    font-size: 2.6em;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Alegreya Sans', sans-serif;
    text-transform: capitalize;
}

.team-grids {
    padding: 0;
}

h5.sec-title span {
    font-weight: 300;
    color: #e01414;
}

/*-- //header --*/

/* about */

.inner-about2 h4 {
    font-size: 2em;
    color: #fff;
    text-transform: capitalize;
}

.inner-about2 p {
    color: #000;
    line-height: 1.5;
    margin: 1em 0;
    font-size: 1.1em;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

ul.about-list {
    margin-bottom: 2em;
}

.inner-about2 a {
    display: inline-block;
    background: #ffffff;
    padding: 7px 25px;
    color: #000000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.inner-about1 {
    background: url(../images/a2.jpg) no-repeat center;
    background-size: cover;
    min-height: 400px;
}

.about-right-grid {
    background: url(../images/a1.jpg) no-repeat center;
    background-size: cover;
    min-height: 787px;
    border: 10px solid rgba(223, 164, 2, 0.35);
}

.inner-about {
    margin-top: 3em;
}

.inner-about2 {
    background: #e85342;
    padding: 4em;
}

.inner-about2 h5 {
    color: #000;
    text-transform: capitalize;
    background: #f7c052;
    display: inline-block;
    padding: 10px 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0 20px 20px 0;
}

ul.about-list li {
    margin: 1em 0;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}

ul.about-list li i {
    margin-right: 1em;
}

/* //about */

/* about-bottom */

h4.title-about {
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
}

.stats-aboutinfo {
    border: 10px solid #ededed;
    text-align: left;
}

.stats-aboutinfo h6 {
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.rad-txt {
    color: #000;
    font-size: 1.8em;
    margin-bottom: 2em;
}

h4.rad-txt span.abtxt1 {
    color: #000000;
    background: #f7c052;
    padding: 5px 19px;
    border-radius: 20px 0px 0 20px;
}

h4.rad-txt span.abtxt2 {
    color: #000000;
    background: #f7c052;
    padding: 5px 19px;
    border-radius: 20px 20px 20px 0px;
}

span.abtext {
    color: #ffffff;
    background: #e85342;
    padding: 5px 19px;
    border-radius: 0 20px 20px 0;
}

span.abtext2 {
    color: #ffffff;
    background: #e85342;
    padding: 5px 19px;
    border-radius: 20px 20px 20px 20px;
}

.agileits_w3layouts-stats-grids {
    padding: 23px 30px;
    border: 10px solid #ededed;
}

/*-- stats --*/

.agileits_w3layouts-stats-grids:nth-child(1) {
    background: #eb5273;
}

.agileits_w3layouts-stats-grids:nth-child(4) {
    background: #00b9ef;
}

.agileits_w3layouts-stats-grids:nth-child(3) {
    background: #fc7e46;
}

.agileits_w3layouts-stats-grids:nth-child(2) {
    background: #4ddba6;
}

.stats-icon,
.stats-right {
    float: left;
}

.stats-right {
    margin-left: 3em;
}

.stats-icon span {
    font-size: 39px;
    color: #ffffff;
    text-align: center;
}

.numscroller {
    font-size: 33px;
    font-weight: 600;
    color: #fff;
    text-align: initial;
}

h4.title-about.about.text-center span {
    background: #febf00;
    padding: 0px 2px 0 7px;
    color: #031f9a;
}

.bg-right {
    background: url(../images/s5.jpg) no-repeat center;
    min-height: 410px;
    background-size: cover;
}

/*-- //stats --*/

.ab1 {
    background: #ededed;
    padding: 30px;
    margin: 1em 0 0 0;
}

.services-w3ls {
    padding: 0;
}

.ab1-text {
    margin-left: 1em;
}

.about-bottom-right .ab1-icon {
    background: #ffffff;
    text-align: center;
    width: 49px;
    height: 49px;
    outline: 6px solid rgba(232, 83, 66, 0.2901960784313726);
}

.service2 .ab1 {
    margin-left: 1em;
}

.ab1:first-child {
    margin-top: 0;
}

.ab1-icon span {
    color: #e85342;
    font-size: 1.9em;
    line-height: 1.8;
}

.ab1-text h5 {
    color: #000;
    font-size: 1.2em;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.about-bottom-right p {
    color: #777;
    width: 95%;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-bottom: 8px;
}

.ab1-text p {
    width: 100%;
    line-height: 1.5;
}

.about-bottom-left h5 {
    color: #e01414;
    text-align: right;
    font-size: 3em;
    padding: 2em 0 0;
}

/* //about-bottom */

/* gallery */

.list-inline > li {
    display: inline-block;
    margin: 1em;
    border: 5px inset #e85342a1;
    padding: 5px;
}

/* //gallery */

/*-- Principles --*/

.principles {
    padding: 100px 0 300px;
    position: relative;
    background-color: #EEE;
}

.about-right p {
    line-height: 30px;
}

.abt-btm.agileits.w3layouts {
    margin: 4em 0 0;
}

.bottom-gds {
    padding: 0;
}

.bott-img {
    padding: 2em;
    background: #eee;
    height: 180px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.bott-img.bott-img1 {
    margin-left: 1em;
}

.bott-img:hover {
    background-color: #e85342;
}

.bottom-gds:hover h4.mission {
    color: #fff;
}

.bott-img .icon-holder {
    position: relative;
    top: 0px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 20px 18px;
    background: #34c663;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 100%;
    color: #fff;
    font-size: 26px;
    /*--w3layouts--*/
    /*--agileits--*/
}

.bott-img .mission {
    position: relative;
    top: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
}

.bott-img .description {
    margin: -5em auto 0;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.description.agileits.w3layouts p {
    margin: 2em;
    color: #fff;
}

.bott-img .icon-holder > .service-icon {
    width: 40px;
}

.bott-img:hover .icon-holder {
    top: -65px;
    background: #f7c052;
    margin-bottom: 2em;
}

.bott-img:hover .mission {
    top: -90px;
}

.bott-img .mission h4 {
    color: #fff;
}

.bott-img:hover .description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    font-size: 14px;
    line-height: 2.2em;
}

.bott-img:hover .description a {
    top: -60px;
}

.description a {
    /*--w3layouts--*/
    /*--agileits--*/
    color: #000;
    padding: 7px 30px 8px;
    background-color: #eee;
}

.description a:hover {
    background-color: #f7c052;
    color: #000000;
}

.principles-grids2 {
    background-color: #F5F5F5;
    position: absolute;
    top: 40%;
    right: 20%;
    width: 35%;
    padding: 50px 50px 50px 125px;
}

.principles-grids2 h3 {
    text-align: left;
    width: 50%;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #1dc8d9;
}

.slider-4 p {
    line-height: 30px;
    font-weight: 100;
    color: #000;
}

.slider-4 h4 {
    float: right;
    margin-top: 20px;
    font-weight: 600;
    color: #1dc8d9;
}

/*-- //Principles --*/

/* team */

.team-mid-txt span {
    color: #34c663;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
}

.team-mid-txt h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 5em;
    text-shadow: 4px 0px 0px #a09c9c;
}

.team-mid-txt h5:last-child {
    font-size: 4em;
}

.team-mid-txt.text-center {
    background: #eee;
    padding: 7em 3em;
}

.team-container {
    width: 86%;
    margin: 0 auto;
}

.team-effect {
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity=100);
}

.team-text {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-effect img {
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-effect img:before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team-effect img:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.team-grids:hover .team-text {
    background-color: #e01414;
}

.team-grid-left .team-grids :nth-child(1).team-text {
    background: #f7c052;
}

.team-grid-left .team-grids :nth-child(2).team-text {
    background: #34c663;
}

.team-grid-right .team-grids :nth-child(2).team-text {
    background: #34c663;
}

.team-grid-right .team-grids :nth-child(1).team-text {
    background: #f7c052;
}

.team-grids:hover .team-text p {
    color: #fff;
}

.team-grids:hover .social-icon {
    bottom: 0%;
    height: 100%;
    padding-top: 8em;
    position: absolute;
    visibility: visible;
    background-color: rgba(212, 210, 210, 0.67);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}

.team-effect:hover .social-icon a {
    -webkit-animation-name: translate-transition;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-name: translate-transition;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.team-text {
    padding: 50px 30px 0;
    width: 100%;
    min-height: 270px;
}

.team-grid-left {
    text-align: right;
}

.team-text h4 {
    color: #000;
    font-size: 1.5em;
    line-height: 2;
    text-shadow: 1px 1px 1px #fffafa;
}

.team-text span {
    font-style: italic;
    color: #636262;
    font-size: 1.1em;
    letter-spacing: 0.5px;
}

.team-text p {
    color: #fff;
    margin-top: 15px;
    text-transform: capitalize;
}

.team-effect .social-icon {
    bottom: 0;
    padding: 10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    overflow: hidden;
    z-index: 9;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    visibility: hidden;
}

.social-button {
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
}

.social-button:before {
    content: '';
    background-color: #000;
    width: 120%;
    height: 120%;
    position: absolute;
    top: 102%;
    left: -118%;
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    -moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-button .fa {
    font-size: 2em;
    line-height: 1.5;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    -moz-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-button.facebook:before {
    background-color: #3B5998;
}

.social-button.facebook .fa {
    color: #3B5998;
}

.social-button.twitter:before {
    background-color: #3CF;
}

.social-button.twitter .fa {
    color: #3CF;
}

.social-button.google:before {
    background-color: #DC4A38;
}

.social-button.google .fa {
    color: #DC4A38;
}

.social-button.dribbble:before {
    background-color: #F26798;
}

.social-button.dribbble .fa {
    color: #F26798;
}

.social-button.skype:before {
    background-color: #00AFF0;
}

.social-button.skype .fa {
    color: #00AFF0;
}

.social-button:focus:before,
.social-button:hover:before {
    top: -10%;
    left: -10%;
}

.social-button:focus .fa,
.social-button:hover .fa {
    color: #fff;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/*-- //team --*/

/*-- team --*/

div#testimonials {
    background: url(../images/test2.jpg) no-repeat center;
    background-attachment: fixed;
}

.team.agileits-w3layouts {
    background: #fff;
}

.team-grid.w3_agileits img {
    margin: 1em 0 0;
}

.team-grid.w3_agileits ul {
    margin: 1em 0 0;
}

.team-grid.w3_agileits {
    padding: 2em;
    -webkit-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    -moz-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
}

.testi-grids img {
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    text-decoration: none;
    z-index: 1;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.team-grid .social-icons {
    margin-top: 1em;
}

/* testimonials */

.team-w3ls-txt h5 {
    color: #34c663;
    font-size: 1.3em;
    margin: 10px 0;
}

.team-w3ls-txt h5:before {
    content: '';
    width: 7%;
    height: 3px;
    margin: 20px 10px 0 0;
    display: inline-block;
    background: rgba(88, 86, 86, 0.46);
}

.team-w3ls-txt h6 {
    font-size: 1.4em;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0.5em;
}

.testi-grids {
    padding: 2em 0 3em;
    position: relative;
    margin: 1em auto;
    width: 78%;
    text-align: right;
}

.testi-main {
    padding: 0;
}

.testi-grids:before,
.testi-grids.t2:before {
    content: '';
    border: 2px outset rgba(255, 255, 255, 0.16);
    position: absolute;
    width: 100%;
    height: 89%;
    top: -5px;
}

.testi-grids:before {
    left: -11%;
}

.testi-grids.t2:before {
    left: 11%;
}

.testi-grids.t2 {
    text-align: left;
}

/* about-gallery */

.carousel {
    margin-bottom: 0;
}

/* The controlsy */

.carousel-control {
    left: auto;
    height: 25px;
    width: 25px;
    background: none repeat scroll 0 0 #34c663;
    /* border: 4px solid #ffffff; */
    line-height: 1.2;
    font-size: 19px;
}

.carousel-control {
    color: #fff;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #a51c21;
}

.carousel-control:hover,
.carousel-control:focus,
.carousel-control:active {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.carousel-control.right {
    right: 47%;
    top: 44%;
}

.carousel-control.left {
    left: 47%;
    top: 44%;
}

a.right.carousel-control.test-right-control {
    left: 52%;
}

/* The indicators */

.carousel-indicators {
    bottom: -30px;
}

/* The colour of the indicators */

/* //testimonials */

/*--contact--*/

.contact {
    background: #ededed;
}

.contact-right {
    text-align: right;
}

.contact-form {
    padding: 10px;
    background: #fff;
}

.map iframe {
    width: 100%;
    min-height: 350px;
    border: 5px solid #f7c052;
    padding: 5px;
}

.contact-form h5 {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
}

.address.address-mdl {
    margin: 2em 0 1em;
}

.address h5 {
    color: #000;
    text-transform: capitalize;
    margin-bottom: 1em;
    font-size: 1.1em;
}

.address p a {
    color: #777;
}

.address p a:hover {
    color: #34c663;
}

form.form_w3layouts {
    margin: 2em 0 0;
}

.contact-form input[type="text"] {
    width: 48.5%;
    color: #000;
    background: #ededed;
    outline: none;
    font-size: 1em;
    padding: 1em 0.8em;
    -webkit-appearance: none;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
}

.contact-form input[type="text"]:first-child {
    margin-right: 1em;
}

.contact-form input[type="email"] {
    width: 100%;
    margin: 2em 0;
    color: #000;
    background: #ededed;
    outline: none;
    font-size: 1em;
    padding: 1em 0.8em;
    -webkit-appearance: none;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
}

.contact-form textarea {
    resize: none;
    width: 100%;
    background: #ededed;
    color: #000;
    font-size: 1em;
    outline: none;
    padding: 1em .8em;
    min-height: 9em;
    font-family: 'Merriweather Sans', sans-serif;
    -webkit-appearance: none;
}

.contact-form input[type="email"],
.contact-form textarea,
.contact-form input[type="text"] {
    border: none;
}

.contact-form input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    width: 30%;
    padding: 10px 0;
    font-size: 1em;
    margin: 2em 1em 0 0;
    -webkit-appearance: none;
    background: #34c663;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    font-family: 'Merriweather Sans', sans-serif;
    -moz-transition: 0.5s all;
}

.contact-form input[type="submit"]:hover,
.contact-form input[type="reset"]:hover {
    background: #e01414;
    color: #fff;
}

.contact-top1 {
    padding: 25px 20px;
    box-shadow: 05px 10px 10px 0px rgba(216, 216, 216, 0.78);
    -webkit-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    -moz-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    /* box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78); */
}

.contact-bottom h6 {
    color: #000;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    margin: 1em auto 2em;
    background: #ededed;
    padding: 13px 0;
}

.contact-bottom {
    background: #fff;
    padding: 2em;
}

/*--//contact--*/

/* footer */

.footer-cpy {
    margin-top: 2em;
    border: solid #2d2d2d;
    border-width: 1px 0;
    padding: 4em 0;
}

footer-social {
    padding-top: 4em;
}

.footer-cpy h4 {
    color: #f7c052;

    font-size: 1.1em;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.footer-nav ul li a {
    color: #777;
    line-height: 2;
    text-transform: capitalize;
}

.footer-social.text-center {
    padding-top: 4em;
}

.footer-social h4 {
    color: #f7c052;
    text-transform: capitalize;
    font-size: 1.6em;
    letter-spacing: 0.5px;
}

.blog1 a {
    color: #777;
    font-size: 1em;
    text-transform: capitalize;
}

.blog1:hover a,
.footer-nav ul li a:hover,
.contact-foot ul li a:hover {
    color: #eee;
}

.bl1 {
    padding: 0;
}

.bl1 img {
    outline: 2px inset #e85342;
    padding: 3px;
}

.blog1 {
    margin-bottom: 1em;
}

.cpy-right {
    padding: 1em;
    background: #34c663;
    text-align: center;
}

.cpy-right p {
    color: #000;
    letter-spacing: 0.5px;
}

.footer-bottom {
    background: #000;
}

.contact-foot ul li {
    color: #777;
    font-size: 1em;
    line-height: 2;
    letter-spacing: 0.3px;
}

.contact-foot li span {
    color: #999;
    margin-right: 10px;
}

.contact-foot ul li a {
    color: #777;
}

/* //footer */

/*-- subscribe --*/

.subscribe-main {
    padding-bottom: 1em;
}

.subscribe-head h4.sec-title {
    margin-bottom: 4px;
    letter-spacing: 3.8px;
    font-weight: 600;
}

.subscribe-head h6 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #1853a1;
    letter-spacing: 4px;
}

.subscribe-form {
    width: 65%;
    margin: 2em auto;
    border: 1px solid;
    border-color: #5a5a5a transparent;
}

.subscribe-main h5 {
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #777;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.3;
    margin-bottom: 2em;
}

.subscribe-main p {
    letter-spacing: 1px;
}

.email-news {
    float: left;
    width: 73%;
    padding: 20px 15px;
    border-right: 1px solid #5a5a5a;
}

.email-news input[type="email"] {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    color: #000;
    outline: none;
    border: none;
    -webkit-appearance: none;
}

.sub-news {
    float: left;
    width: 27%;
    padding: 20px 15px;
}

.sub-news input[type="submit"]:hover {
    background: #e85342;
    color: #fff;
}

.sub-news input[type="submit"] {
    width: 100%;
    float: left;
    color: #000;
    font-weight: 600;
    font-size: 1em;
    text-transform: capitalize;
    outline: none;
    letter-spacing: 2px;
    padding: 15px 10px;
    border: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-appearance: none;
    background: #34c663;
}

/*-- //subscribe --*/

.hide-bullets {
    list-style: none;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
    border: none;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
}

.carousel-control span {
    margin-top: 13em;
}

/*-- //contact --*/

.cpy-right p a {
    color: #000;
}

.footer-layouts-top {
    padding-top: 3em;
}

.footer-main p a {
    color: #ea4c89;
    text-decoration: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.footer-main p a:hover {
    color: #000;
}

.footer-social ul li {
    display: inline-block;
}

span.icon_twitter {
    background: #1da1f2;
}

span.icon_facebook {
    background: #3b5998;
}

span.icon_dribbble {
    background: #ea4c89;
}

span.icon_g_plus {
    background: #dd4b39;
}

.footer-social ul li a {
    color: #212121;
}

.footer-social ul li span {
    margin-left: 10px;
    color: #fff;
    padding: 10px;
    width: 35px;
    height: 35px;
    font-size: 15px;
    text-align: center;
}

.footer-social ul {
    margin: 1.5em 0 0;
}

.footer-social ul li a {
    color: #212121;
}

.footer-social ul li:hover a {
    color: #fff;
    text-decoration: none;
}

.footer-main h4 {
    font-size: 3em;
    color: #ea4c89;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

/* //footer */

/* breadcrumbs */

/** The Magic **/

/** The Spacing **/

li.btn.btn2 {
    background: #34c663;
}

li.btn.btn3 {
    background: #e85342;
}

li.btn.btn4 {
    background: #f7c052;
}

.btn-breadcrumb .btn {
    padding: 6px 12px 6px 24px;
}

.btn-breadcrumb .btn:first-child {
    padding: 6px 6px 6px 10px;
    border: 1px solid #34c663;
}

ul.bc-list li a {
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.5px;
}

.btn-info {
    color: #fff;
    background-color: #34c663;
    border-color: #34c663;
}

ul.btn-group.btn-breadcrumb i {
    color: #e85342;
}

li.btn.btn5 {
    background: #34c663;
}

ul.btn-breadcrumb li {
    display: inline-block;
}

.btn-breadcrumb .btn.btn1:after,
.btn-breadcrumb .btn.btn3:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn.btn2:before {
    border-left: 10px solid #34c663;
}

.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(52, 198, 99);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 0px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn.btn3a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid #e85342;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn.btn4a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid #f7c052;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

/* /breadcrumbs */

/* signin and signup form */

.login-form.section.text-center {
    background: #eee;
}

.panel-info > .panel-heading {
    color: #ffffff;
    background-color: #272525;
    border-color: #272525;
    padding: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #34c663;
    border-color: #34c663;
}

a#btn-login {
    width: 30%;
}

button#btn-signup {
    width: 33%;
    background: #34c663;
}

.loginbox {
    width: 55%;
    margin: 0 auto;
}

.panel-body {
    padding: 35px;
}

.fpassword {
    float: right;
    position: relative;
    top: -10px
}

.fpassword a {
    color: #2196F3;
    font-size: 0.85em;
}

.form-control {
    height: 46px;
}

.input-group-addon {
    color: #fff;
    background-color: #e85342;
}

.btn-success {
    background-color: #34c663;
    border-color: #34c663;
}

/* //signin and signup form */

/*-- bottom-to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

/* -- Responsive code -- */

@media screen and (max-width: 1600px) {
    .list-inline > li {
        display: inline-block;
        margin: 18px 0 0;
    }
}

@media screen and (max-width: 1440px) {
    .ab1 {
        padding: 29px 30px 5px;
    }

    .team-text {
        min-height: 239px;
    }

    .team-mid-txt.text-center {
        padding: 5em 3em;
    }
}

@media screen and (max-width: 1366px) {
    .ab1-text {
        margin-left: 0.5em;
        padding-right: 0;
    }

    .ab1-text h5 {
        margin-bottom: 7px;
    }

    .team-text {
        min-height: 227px;
    }

    .home-about2 {
        padding: 0;
    }

    .team-mid-txt.text-center {
        padding: 5em 3em 3.2em;
    }

    .team-grids:hover .social-icon {
        padding-top: 7em;
    }
}

@media screen and (max-width: 1280px) {
    .banner-bg-agileits {
        min-height: 738px;
    }

    .banner-text {
        padding: 23em 0 0;
    }

    h2.title {
        color: #ffffff;
        font-size: 6em;
    }

    .about-bottom-right {
        width: 100%;
    }

    .home-about2 {
        width: 100%;
    }

    .bg-right {
        margin-top: 2em;
    }

    .w3ls-section.stats {
        margin-top: 27px;
    }

    .team-text {
        padding: 40px 30px 0;
    }

    .team-text {
        padding: 20px 30px 0;
        min-height: 212px;
    }

    .team-mid-txt.text-center {
        padding: 4em 3em 2em;
    }
}

@media screen and (max-width: 1080px) {
    .navbar-nav > li {
        margin: 0 0.4em 0 0;
    }

    .banner-bg-inner {
        background-position: 0 -146px;
        min-height: 422px;
    }

    .banner-text p:before {
        left: 30.5%;
    }

    .banner-text p:after {
        right: 33%;
    }

    .team-container {
        width: 100%;
    }

    .team-text {
        min-height: 207px;
    }

    .bl2 {
        padding-right: 0;
    }

    .list-inline > li {
        padding: 2px;
        margin: 5px 0 0;
    }

    h2.title-inner {
        font-size: 3.8em;
    }

    .testi-grids {
        width: 77%;
    }

    .social-button .fa {
        font-size: 1.8em;
        line-height: 1.7;
    }

    .contact-form input[type="text"]:first-child {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1050px) {
    h2.title {
        font-size: 5.5em;
    }

    .team-grid-left,
    .team-grid-right,
    .team-mid-txt {
        width: 100%;
        float: left;
    }

    .team-container {
        width: 85%;
    }

    .team-text {
        min-height: 424px;
        padding: 150px 30px 0;
    }

    .team-grids:hover .social-icon {
        padding-top: 14em;
    }
}

@media screen and (max-width: 1024px) {
    .banner-text {
        padding: 21em 0 0;
    }

    .banner-bg-agileits {
        min-height: 683px;
    }

    .team-text {
        min-height: 413px
    }

    h2.title-inner {
        font-size: 3.6em;
    }
}

@media screen and (max-width: 991px) {
    .rad-txt {
        font-size: 1.5em;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 13px;
        padding: 15px 5px;
    }

    h1 a.navbar-brand {
        font-size: 1.1em;
    }

    .cd-search-trigger,
    .cd-nav-trigger {
        width: 35px;
        height: 45px;
    }

    .cd-search-trigger::after {
        bottom: 14px;
        right: 0px;
    }

    i.fa.fa-cart-arrow-down {
        width: 33px;
        height: 40px;
    }

    .banner-text p:before {
        left: 29.4%;
    }

    .about-right-grid {
        margin-top: 3em;
    }

    .banner-text {
        padding: 19em 0 0;
    }

    .banner-bg-agileits {
        min-height: 670px;
    }

    .team-text {
        min-height: 398px;
    }

    .carousel-control.left {
        left: 45%;
        top: 46.6%;
    }

    .carousel-control.right {
        right: 47%;
        top: 46.6%;
    }

    .footer-nav {
        text-align: right;
    }

    .blog-footer,
    .contact-foot {
        margin-top: 1em;
    }

    .footer-cpy {
        padding: 3em 0;
    }

    .section {
        padding: 4em 0;
    }

    .subscribe-form {
        width: 75%;
    }

    .list-inline > li {
        padding: 7px;
        margin: 1em;
    }

    .contact-right {
        text-align: left;
    }

    .loginbox {
        width: 65%;
    }
}

@media screen and (max-width: 900px) {
    h2.title {
        font-size: 5.2em;
    }

    .team-text {
        min-height: 359px;
    }

    .team-grids:hover .social-icon {
        padding-top: 11em;
    }
}

@media screen and (max-width: 800px) {
    .banner-bg-agileits {
        min-height: 635px;
    }

    h2.title {
        font-size: 5em;
    }

    .numscroller {
        font-size: 29px;
    }

    .bg-right {
        min-height: 550px;
    }

    .banner-text {
        padding: 18em 0 0;
    }

    .team-text {
        min-height: 317px;
    }

    .team-mid-txt h5 {
        font-size: 4em;
    }

    .team-mid-txt h5:last-child {
        font-size: 3.5em;
    }

    h2.title-inner {
        font-size: 3.2em;
        letter-spacing: 3px;
    }

    .banner-bg-inner {
        background-position: 0 -80px;
        min-height: 385px;
    }
}

@media screen and (max-width: 768px) {
    .banner-bg-agileits {
        min-height: 600px;
    }

    h2.title {
        font-size: 4.5em;
    }

    .ab1 {
        padding: 17px 26px 15px;
    }

    .ab1-icon span {
        font-size: 1.7em;
    }

    .about-bottom-right .ab1-icon {
        width: 48px;
        height: 45px;
    }

    .team-text {
        min-height: 304px;
        padding: 120px 30px 0;
    }

    .team-grids:hover .social-icon {
        padding-top: 10em;
    }
}

@media screen and (max-width: 767px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        width: 100%;
        background: rgba(0, 0, 0, 0.79);
        border: none;
    }

    .navbar-nav > li {
        text-align: center;
    }

    .dropdown-menu li a {
        color: #fff !important;
        text-align: center;
    }

    nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse h1 a.navbar-brand {
        font-size: 1em;
        padding: 14px;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        width: 100%;
        background: rgb(52, 198, 99);
        border: none;
        float: none;
        margin: 0 auto;
    }

    .dropdown-menu li a:hover {
        color: #fff !important;
    }

    .navbar-toggle {
        margin-right: 1em;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 26px;
        height: 4px;
        border-radius: 1px;
    }

    .navbar-default .navbar-toggle,
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background: #e85342;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding: 20px;
        max-height: 460px;
    }

    .navbar-default .navbar-brand {
        padding-left: 1em;
        font-size: 1.1em;
        padding-bottom: 1em;
    }

    .search-bar-agileits,
    .cart-mainf {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 736px) {
    .inner-about2 h4 {
        font-size: 1.8em;
    }

    .banner-text p:before {
        left: 29.3%;
    }

    .banner-text p:after {
        right: 32%;
    }

    .service2 .ab1 {
        margin-left: 4px;
    }

    .ab1 {
        margin: 5px 0 0 0;
    }

    .banner-bg-agileits {
        min-height: 550px;
    }

    .banner-text {
        padding: 16em 0 0;
    }

    ul.banner-txt li {
        padding: 5px 16px;
        font-size: 0.9em;
        letter-spacing: 1px;
    }

    .footer-nav,
    .contact-foot {
        text-align: left;
    }

    .footer-nav.text-center {
        margin-top: 1em;
    }

    .blog-footer,
    .contact-foot {
        margin-top: 1.5em;
    }

    .team-w3ls-txt h6 {
        font-size: 1.3em;
    }

    .team-text {
        min-height: 240px;
        padding: 93px 30px 52px;
    }

    .subscribe-main h5 {
        font-size: 1.1em;
    }

    .subscribe-form {
        width: 80%;
    }

    .bott-img.bott-img1 {
        margin-left: 0;
        margin-top: 3em;
    }

    .list-inline > li {
        margin: 10px;
    }

    .banner-bg-inner {
        min-height: 382px;
    }

    .list-inline > li {
        margin: 7px;
    }

    h2.title-inner {
        font-size: 3em;
    }
}

@media screen and (max-width: 667px) {
    .section {
        padding: 3em 0;
    }

    .team-grids:hover .social-icon {
        padding-top: 8em;
    }

    .rad-txt {
        font-size: 1.4em;
    }

    .team-text {
        padding: 66px 30px 52px;
    }

    .banner-text p:before {
        left: 28.77%;
    }

    .banner-bg-inner {
        min-height: 338px;
        background-position: 0 -34px;
    }

    h2.title-inner {
        font-size: 3em;
    }

    .banner-text-inner {
        padding: 13em 0 0;
    }

    .stats-icon span {
        font-size: 33px;
    }

    .subscribe-form {
        width: 81%;
    }

    .carousel-control.right {
        right: 45%;
    }

    .list-inline > li {
        margin: 7px 1px;
    }

    .loginbox {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .banner-bg-agileits {
        min-height: 530px;
    }

    .banner-text p:before {
        left: 28.5%;
    }

    .banner-text p {
        line-height: 45px;
    }

    .banner-text p:before {
        top: 37px;
    }

    .banner-text p:after {
        top: 32px;
        right: 32%;
    }

    h2.title {
        font-size: 4.3em;
    }

    .numscroller {
        font-size: 27px;
    }

    .stats-right {
        margin-left: 2em;
    }

    .bg-right {
        min-height: 540px;
    }

    .inner-about2 {
        padding: 3em;
    }

    .about-right-grid {
        min-height: 716px;
    }

    .subscribe-main h5 {
        font-size: 1em;
    }

    .banner-text p {
        font-size: 2.5em;
    }

    .banner-bg-agileits {
        min-height: 500px;
    }

    .banner-text p:before {
        left: 29.3%;
        top: 32px;
    }

    .banner-text p:after {
        top: 30px;
        right: 33%;
    }

    .team-text {
        padding: 53px 30px 52px;
    }

    .subscribe-form {
        width: 87%;
    }

    .list-inline > li {
        padding: 4px;
    }
}

@media screen and (max-width: 600px) {
    .banner-text {
        padding: 15em 0 0;
    }

    .banner-text p:before {
        left: 29%;
    }

    .banner-text p:after {
        top: 29px;
        right: 32%;
    }

    .services-w3ls {
        width: 100%;
    }

    .service2 .ab1 {
        margin-left: 0;
        margin-top: 6px;
    }

    .inner-about2 {
        padding: 2em;
    }

    .stats-right {
        margin-left: 10px;
    }

    .agileits_w3layouts-stats-grids {
        padding: 23px 20px;
    }

    .stats-right {
        margin-left: 25px;
    }

    .team-text {
        padding: 37px 30px 52px;
        min-height: 230px;
    }

    .subscribe-form {
        width: 93%;
    }

    .list-inline > li {
        padding: 5px;
        width: 24%;
        float: left;
        margin: 7px 2.5px;
    }

    h2.title-inner {
        font-size: 2.8em;
    }
}

@media screen and (max-width: 568px) {
    .banner-bg-inner {
        min-height: 320px;
    }

    .banner-bg-agileits {
        min-height: 470px;
    }

    .banner-text {
        padding: 14em 0 0;
    }

    .banner-text p:before {
        left: 28.6%;
    }

    h2.title {
        font-size: 4.1em;
        letter-spacing: 5px;
    }

    .section {
        padding: 2em 0;
    }

    .about-right-grid {
        min-height: 650px;
    }

    .about-bottom-right p {
        width: 100%;
    }

    .bg-right {
        width: 100%;
        min-height: 350px;
    }

    .w3ls-section.stats {
        width: 100%;
    }

    .team-container {
        width: 90%;
    }

    .agileits_w3layouts-stats-grids {
        padding: 23px 30px;
    }

    .subscribe-main h5 {
        font-size: 0.95em;
    }

    .subscribe-form {
        width: 100%;
    }

    .team-mid-txt h5 {
        font-size: 3em;
    }

    .team-mid-txt h5:last-child {
        font-size: 3em;
    }

    .contact-form input[type="text"]:first-child {
        margin-bottom: 2em;
        margin-right: 0;
    }

    .contact-form input[type="text"] {
        width: 100%;
    }

    .loginbox {
        width: 88%;
    }

    .description input[type="text"] {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .banner-text p:before {
        left: 27.6%;
    }

    .banner-text {
        padding: 13em 0 0;
    }

    .banner-bg-agileits {
        min-height: 450px;
    }

    ul.banner-txt li:nth-child(2) {
        margin: 0 0.8em;
    }

    .about-right-grid {
        min-height: 600px;
    }

    .team-container {
        width: 100%;
    }

    .team-text {
        padding: 25px 28px 25px;
        min-height: 216px;
    }

    h2.title {
        font-size: 3.8em;
        letter-spacing: 4px;
    }

    .about-right-grid {
        min-height: 563px;
    }

    .list-inline > li {
        width: 23.8%;
    }

    h2.title-inner {
        font-size: 2.5em;
    }

    .banner-bg-inner {
        min-height: 292px;
        background-position: 0 -6px;
    }

    .banner-text-inner {
        padding: 12em 0 0;
    }

    .team-grids:hover .social-icon {
        padding-top: 7em;
    }

    .carousel-control.right {
        right: 42%;
    }

    .about-left-grid {
        padding: 0;
    }

    .sub-news {
        width: 30%;
    }

    .email-news {
        width: 70%;
    }

    .email-news input[type="email"],
    .sub-news input[type="submit"] {
        padding: 10px 10px;
    }

    .footer-social.text-center {
        padding-top: 3em;
    }

    .subscribe-main h5 {
        line-height: 2;
    }

    .contact-bottom h6 {
        font-size: 1.4em;
        padding: 9px 0;
    }

    .loginbox {
        width: 100%;
    }

    label.control-label {
        padding: 0;
    }

    .description input[type="text"] {
        width: 60%;
    }
}

@media screen and (max-width: 414px) {
    .banner-bg-agileits {
        min-height: 415px;
    }

    .banner-text p:before {
        left: 26.6%;
    }

    .banner-text p:after {
        right: 31%;
    }

    .inner-about2 h4 {
        font-size: 1.6em;
    }

    h2.title {
        font-size: 3.6em;
        letter-spacing: 4px;
    }

    .team-grids {
        width: 100%;
    }

    .testi-grids {
        width: 70%;
    }

    .fimg1 {
        width: 92%;
        margin: 0 3em;
    }

    .email-news {
        padding: 20px 8px;
    }

    .sub-news {
        padding: 20px 8px;
    }

    .team-grids:hover .social-icon {
        padding-top: 12em;
    }

    .testi-grids {
        width: 75%;
    }

    .carousel-control.right {
        right: 39%;
    }

    .list-inline > li {
        width: 23.6%;
    }

    h2.title-inner {
        font-size: 2.2em;
    }

    .banner-text-inner {
        padding: 11em 0 0;
    }

    h2.title-inner {
        font-size: 2.1em;
    }

    .banner-bg-inner {
        min-height: 280px;
        background-position: 0 0px;
    }
}

@media screen and (max-width: 384px) {
    .list-inline > li {
        width: 23.5%;
    }

    .banner-bg-agileits {
        min-height: 390px;
    }

    .banner-text p:before {
        left: 25.8%;
    }

    .banner-text p:after {
        right: 30%;
    }

    .banner-text {
        padding: 12em 0 0;
    }

    h2.title {
        font-size: 3.4em;
        letter-spacing: 3px;
    }

    ul.banner-txt li {
        padding: 5px 13px;
    }

    .inner-about2 {
        padding: 2em 1.3em;
    }

    .inner-about2 h4 {
        font-size: 1.55em;
    }

    .rad-txt {
        font-size: 1.3em;
    }

    .fimg1 {
        width: 100%;
        margin: 0 1em;
    }

    .sub-news input[type="submit"] {
        letter-spacing: 0px;
    }

    h2.title-inner {
        font-size: 2.1em;
    }

    h2.title-inner {
        font-size: 1.95em;
        letter-spacing: 2px;
    }

    .banner-text-inner {
        padding: 12em 0 0;
    }

    .description input[type="text"] {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .inner-about2 h4 {
        font-size: 1.5em;
    }

    .rad-txt {
        margin-bottom: 1.2em;
    }

    .about-bottom.section span.abtext {
        display: block;
        width: 63%;
        margin-top: 10px;
    }

    .img-testi {
        padding: 0;
    }

    .footer-social ul li span {
        margin-left: 5px;
    }

    .contact-form input[type="submit"] {
        width: 37%;
        padding: 6px 0;
        margin: 1em 1em 0 0;
    }

    .footer-social.text-center {
        padding-top: 2em;
    }

    .footer-social h4 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 320px) {
    .navbar-toggle {
        padding: 9px 0 0;
        margin-top: 4px;
        margin-bottom: 0;
        margin-right: 15px;
    }

    .banner-text-inner {
        padding: 8em 0 0;
    }

    .navbar-brand {
        height: 20px;
        padding: 15px 15px;
        font-size: 17px;
        line-height: 16px;
    }

    .navbar-default .navbar-brand {
        font-size: 0.9em;
        padding-left: 15px;
    }

    .banner-bg-inner {
        min-height: 240px;
    }

    .banner-bg-inner {
        min-height: 215px;
    }

    h2.title-inner {
        font-size: 1.72em;
        letter-spacing: 1px;
    }

    .banner-text-inner {
        padding: 8.5em 0 0;
    }

    .ab1 {
        padding: 17px 19px 15px;
    }

    .about-bottom-right {
        padding: 0;
    }

    .list-inline > li {
        margin: 7px 2px;
    }

    nav.navbar.navbar-default.navbar-fixed-top {
        padding: 5px 0;
    }

    .banner-text p {
        font-size: 2.1em;
    }

    h2.title {
        font-size: 3em;
        letter-spacing: 2px;
    }

    ul.banner-txt li:nth-child(2) {
        margin: 0 0.5em;
    }

    ul.banner-txt li {
        padding: 5px 8px;
        font-size: 0.8em;
        letter-spacing: 0.5px;
    }

    .banner-text p:before {
        left: 25%;
    }

    .banner-text {
        padding: 10em 0 0;
    }

    .banner-bg-agileits {
        min-height: 345px;
    }

    .inner-about2 h4 {
        font-size: 1.23em;
    }

    .about-bottom.section span.abtext {
        width: 72%
    }

    .about-bottom-right .ab1-icon {
        width: 39px;
        height: 38px;
        padding: 0;
    }

    .ab1-icon span {
        font-size: 1.5em;
    }

    .team-grids:hover .social-icon {
        padding-top: 9em;
    }

    .agileits_w3layouts-stats-grids {
        padding: 23px 19px;
    }

    .banner-text p:after {
        width: 14%;
        height: 4px;
    }

    .banner-text p:before {
        width: 16.3%;
        height: 4px;
    }

    .testi-grids {
        width: 74%;
    }

    .fimg1 {
        margin: 0;
    }

    .rad-txt {
        font-size: 1.2em;
    }

    .carousel-control.right {
        right: 35%;
    }

    .email-news {
        width: 68%;
    }

    .sub-news {
        padding: 20px 4px;
        width: 32%;
    }

    .footer-social h4 {
        font-size: 1.5em;
    }

    .contact-top1 {
        padding: 25px 10px;
    }

    .subscribe-main p {
        letter-spacing: 0.5px;
    }

    .contact-form {
        padding: 0;
    }

    .footer-social.text-center {
        padding-top: 2em;
    }

    .map iframe {
        min-height: 290px;
    }

    .controls {
        padding: 0;
    }

    label.control-label {
        font-size: 0.8em;
    }

    .fpassword {
        top: -4px;
    }

    .btn-breadcrumb .btn {
        padding: 6px 7px 6px 13px;
    }

    ul.bc-list li a {
        font-size: 0.95em;
    }
}

/* -- //Responsive code -- */